<a href="https://colab.research.google.com/github/HackTime16/MaxPJ/blob/master/Analise_MaxPJ.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


## O ano de 2020 entrará para a história como um ano de crise e muitas dificuldades. Marcado não apenas por esta pandemia, mas támbem com o processo de reinvenção e adaptação ao novo normal.
## E em busca de uma solução para os pequenos e médios negocios que são um dos principais afetados, segue abaixo um estudo para orientação.

Qual o problema?
R: **Empresas de pequeno e médio porte, tiveram que parar devido a quarentena e agora que o mercado está voltando e elas precisão de se reinventar**

In [ ]:
import pandas as pd

**Em busca de entender o cenario atual, analizamos o histórico dos indices de IPCA de 2018 vs 2020.**

In [ ]:
csv_indice_sp = 'https://raw.githubusercontent.com/HackTime16/MaxPJ/master/Databases/Indices_SP.csv'

indice_sp = pd.read_csv(csv_indice_sp, delimiter=';', encoding='cp1252')
indice_sp

             local  Mês   Ano  ... 7_Despesas_pessoais 8_Educação 9_Comunicação
0   São Paulo (SP)  jan  2018  ...                0,13       0,19          0,15
1   São Paulo (SP)  fev  2018  ...                0,19       3,70          0,25
2   São Paulo (SP)  mar  2018  ...                0,41       4,08         -0,13
3   São Paulo (SP)  abr  2018  ...                0,40       4,16         -0,19
4   São Paulo (SP)  mai  2018  ...                0,51       4,19         -0,21
5   São Paulo (SP)  jun  2018  ...                0,85       4,20         -0,19
6   São Paulo (SP)  jan  2020  ...                0,54       0,13          0,18
7   São Paulo (SP)  fev  2020  ...                0,18       3,64          0,06
8   São Paulo (SP)  mar  2020  ...               -0,26       0,58          0,28
9   São Paulo (SP)  abr  2020  ...               -0,09       0,03         -0,14
10  São Paulo (SP)  mai  2020  ...               -0,03       0,04          0,38
11  São Paulo (SP)  jun  2020  ...               -0,08       0,02          0,21

[12 rows x 13 columns]

Tabela 1419 IPCA Variação no ano
Fonte: [Data.rio](http://www.data.rio/datasets/tabela-1419-ipca-varia%C3%A7%C3%A3o-no-ano/data?geometry=-118.108%2C-33.657%2C49.147%2C-5.010&orderBy=local&where=local%20%3D%20%27S%C3%A3o%20Paulo%20(SP)%27%20AND%20Ano%20%3E%3D%202018%20AND%20Ano%20%3C%3D%202019)

**De acordo com [abicalçados](https://www.abicalcados.com.br/noticia/com-producao-em-queda-setor-calcadista-perde-mais-de-24-mil-postos-com-avanco-do-covid-19), o comercio de calçados teve grende impacto com esta pandemia considerando os indices acima, então pegamos o historico do Índice de volume de vendas no varejo no periodo de 12/2018 á 04/2019 para uma breve analise.**

In [ ]:
csv_indice_vendas = 'https://raw.githubusercontent.com/HackTime16/MaxPJ/master/Databases/Indices_Vendas.csv'
indice_vendas = pd.read_csv(csv_indice_vendas,delimiter=';', encoding='cp1252')
indice_vendas.columns = ['Mes/Ano','Indice']
indice_vendas.head()

   Mes/Ano  Indice
0  12/2018   171.1
1  01/2019    64.3
2  02/2019    62.7
3  03/2019    69.3
4  04/2019    66.8

 Índice de volume de vendas no varejo - Tecidos, vestuário e calçados - São Paulo
Fonte: [Banco Central](https://www3.bcb.gov.br/sgspub/localizarseries/localizarSeries.do?method=prepararTelaLocalizarSeries)

**Em seguinda partimos para uma analise sobre os dados do Covid, com o objetivo de entender o comportamento do virus em relação ao espaço demagrafico decorrido pelo tempo.**

In [ ]:
# Processamento em maquina local -- Objetivo: Reduzir o tamanho da base para regionalizar a base
csv_casos_covid = '../Datasets/caso_full.csv'
casos_covid = pd.read_csv(csv_casos_covid)
casos_covid = casos_covid[casos_covid['city'].astype(str).str.contains('São Paulo')]
casos_covid.describe()
casos_covid.to_csv('../Datasets/Casos_covid_SP.csv', sep=';', encoding='cp1252', index=False)

In [ ]:
csv_casos_covid = 'https://raw.githubusercontent.com/HackTime16/MaxPJ/master/Databases/Casos_covid_SP.csv'
casos_covid = pd.read_csv(csv_casos_covid,delimiter=';', encoding='cp1252')
casos_covid.head()

        city  city_ibge_code        date  ...  state  new_confirmed  new_deaths
0  São Paulo       3550308.0  2020-02-25  ...     SP              1           0
1  São Paulo       3550308.0  2020-02-26  ...     SP              0           0
2  São Paulo       3550308.0  2020-02-27  ...     SP              0           0
3  São Paulo       3550308.0  2020-02-28  ...     SP              1           0
4  São Paulo       3550308.0  2020-02-29  ...     SP              0           0

[5 rows x 17 columns]

COVID-19 - São Paulo
Fonte: [Brasil.io](https://brasil.io/dataset/covid19/caso_full/)

**Por fim, pegamos uma amostra da distribuição de empresas que atualizaram seu status de atividade em 2020, e criamos um mapa de calor com a evolução com a evolução de atualizações por trimestre indicando o quantitativo da população por região do mês de Junho**

In [66]:
csv_empresas_brasil = 'https://raw.githubusercontent.com/HackTime16/MaxPJ/master/Databases/Empresas_2020_V6.csv'
empresas_brasil = pd.read_csv(csv_empresas_brasil,delimiter=';', encoding='cp1252')
empresas_brasil.head()

   data_situacao  uf  ...                                       Nome_Divisao cnpj
0       20200101  AL  ...                                        ALIMENTAÇÃO    1
1       20200101  AL  ...  OUTRAS ATIVIDADES PROFISSIONAIS, CIENTÍFICAS E...    1
2       20200101  AL  ...                                 COMÉRCIO VAREJISTA   16
3       20200101  AL  ...            SERVIÇOS ESPECIALIZADOS PARA CONSTRUÇÃO    7
4       20200101  AL  ...     CONFECÇÃO DE ARTIGOS DO VESTUÁRIO E ACESSÓRIOS    1

[5 rows x 6 columns]