In [3]:
import pandas as pd

In [58]:
csv_indice_sp = '../Empresas/Indices_SP.csv'

indice_sp = pd.read_csv(csv_indice_sp, delimiter=';', encoding='cp1252')
indice_sp.head()

,local,Mês,Ano,Índice_geral,1_Alimentação_e_bebidas,2_Habitação,3_Artigos_de_residência,4_Vestuário,5_Transportes,6_Saúde_e_cuidados_pessoais,7_Despesas_pessoais,8_Educação,9_Comunicação
0,São Paulo (SP),jan,2018,"0,21","0,33","-0,89","0,17","-1,47","1,21","0,58","0,13","0,19","0,15"
1,São Paulo (SP),fev,2018,"0,50","-0,14","-0,64","0,20","-1,08","1,71","1,00","0,19","3,70","0,25"
2,São Paulo (SP),mar,2018,"0,72","0,45","-0,53","0,12","-1,19","1,59","1,53","0,41","4,08","-0,13"
3,São Paulo (SP),abr,2018,"0,82","0,06","-0,77","0,32","-0,18","1,71","2,65","0,40","4,16","-0,19"
4,São Paulo (SP),mai,2018,"1,02","0,57","-0,42","-0,30","0,55","1,42","3,03","0,51","4,19","-0,21"

In [51]:
csv_casos_covid = '../Empresas/Casos_covid_SP.csv'
casos_covid = pd.read_csv(csv_casos_covid, delimiter=';', encoding='cp1252')
casos_covid.head()

,city,city_ibge_code,date,epidemiological_week,estimated_population_2019,is_last,is_repeated,last_available_confirmed,last_available_confirmed_per_100k_inhabitants,last_available_date,last_available_death_rate,last_available_deaths,order_for_place,place_type,state,new_confirmed,new_deaths
0,São Paulo,3550308.0,2020-02-25,9,12252023.0,False,False,1,0.00816,2020-02-25,0.0,0,1,city,SP,1,0
1,São Paulo,3550308.0,2020-02-26,9,12252023.0,False,False,1,0.00816,2020-02-26,0.0,0,2,city,SP,0,0
2,São Paulo,3550308.0,2020-02-27,9,12252023.0,False,False,1,0.00816,2020-02-27,0.0,0,3,city,SP,0,0
3,São Paulo,3550308.0,2020-02-28,9,12252023.0,False,False,2,0.01632,2020-02-28,0.0,0,4,city,SP,1,0
4,São Paulo,3550308.0,2020-02-29,9,12252023.0,False,False,2,0.01632,2020-02-29,0.0,0,5,city,SP,0,0

In [59]:
csv_indice_vendas = '../Empresas/Indices_Vendas.csv'
indice_vendas = pd.read_csv(csv_indice_vendas,delimiter=';', encoding='cp1252')
indice_vendas.head()

,Data,"1516 - ï¿½ndice de volume de vendas no varejo - Tecidos, vestuï¿½rio e calï¿½ados - Sï¿½o Paulo - ï¿½ndice"
0,12/2018,171.1
1,01/2019,64.3
2,02/2019,62.7
3,03/2019,69.3
4,04/2019,66.8

In [58]:
csv_empresas_sp = '../Empresas/Empresas_2020_V2.csv'
empresas_sp = pd.read_csv(csv_empresas_sp, delimiter=';',encoding='cp1252')
empresas_sp = empresas_sp[empresas_sp['uf'].astype(str).str.contains('SP')]
empresas_sp = empresas_sp[empresas_sp['Cod_Divisao'].astype(str).str.contains('47')]

In [59]:
empresas_sp.to_csv('../Empresas/Empresas_2020_V3.csv',sep=';', encoding='cp1252', index=False)