In [3]:
import pandas as pd

In [34]:
csv_indice_sp = '../Empresas/Indices_SP.csv'

indice_sp = pd.read_csv(csv_indice_sp, delimiter=';', encoding='cp1252')
indice_sp.head()

,local,Mês,Ano,Índice_geral,1_Alimentação_e_bebidas,2_Habitação,3_Artigos_de_residência,4_Vestuário,5_Transportes,6_Saúde_e_cuidados_pessoais,7_Despesas_pessoais,8_Educação,9_Comunicação,FID
0,São Paulo (SP),jan,2018,0.21,0.33,-0.89,0.17,-1.47,1.21,0.58,0.13,0.19,0.15,753
1,São Paulo (SP),fev,2018,0.50,-0.14,-0.64,0.20,-1.08,1.71,1.00,0.19,3.70,0.25,754
2,São Paulo (SP),mar,2018,0.72,0.45,-0.53,0.12,-1.19,1.59,1.53,0.41,4.08,-0.13,755
3,São Paulo (SP),abr,2018,0.82,0.06,-0.77,0.32,-0.18,1.71,2.65,0.40,4.16,-0.19,756
4,São Paulo (SP),mai,2018,1.02,0.57,-0.42,-0.30,0.55,1.42,3.03,0.51,4.19,-0.21,757

In [48]:
csv_casos_covid = '../Empresas/Casos_covid_SP.csv'
casos_covid = pd.read_csv(csv_casos_covid, index=False,delimiter=';', encoding='cp1252')
casos_covid.head()

In [40]:
csv_indice_vendas = '../Empresas/Indices_Vendas.csv'
indice_vendas = pd.read_csv(csv_indice_vendas,delimiter=';', encoding='cp1252')
indice_vendas.head()

,Data,"1516 - Índice de volume de vendas no varejo - Tecidos, vestuário e calçados - São Paulo - Índice"
0,12/2018,"171,10"
1,01/2019,"64,30"
2,02/2019,"62,70"
3,03/2019,"69,30"
4,04/2019,"66,80"